.Container {
    justify-content: center;
    padding-top: 30px;
}

.thead {
    text-align: center;
}

.id {
    width: 20px;
}

.ConteudoPrincipal {
    width: 150px;
}

.acoes {
    width: 50px;
}

.tbody {
    text-align: center;
}

.BotaoEditar {
    padding-right: 20px;
}
