.Col {
    border: dashed;
    padding: 50px;
    border-color: #FA8072;
    justify-content: center;
    margin-bottom: 250px;
}

.Row {
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}

.ContainerBotoes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}