.botoes {
    color: white;
    font-weight: bold;
    padding-right: 25px;
    transition: 0.3s;
}

.botoes:hover {
    font-weight: bold;
    color: #353935;
    transition: 0.3s;
}

.nav-bar {
    background-color: #A42A04;
}

.nav-bar-texto {
    color: white;
    font-weight: bold;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}
